    .discover .Disbuttons{
      display: Flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    .Disbuttons button{
      width: 379px;
      height: 244.5px;
      background-color: transparent;  
      border-style: none;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0px 0px 0px rgba(20, 30, 48, 1);
      border: 2px solid rgba(40, 60, 96, 0.5);
      position: relative;
      transition: all 0.4s ease;
    }
    .Disbuttons button:hover {
      position: relative;
      transform: translate(0px, -20px);
      box-shadow: 0px 20px 1px rgba(20, 30, 48, 0.6);
      transition: all 0.3s ease;
    }
    .Disbuttons button #dark{
      width: 379px;
      height: 244.5px;
      position: relative;
      bottom: 1px;
      right: 6px;
      z-index: -1;
      opacity: 1;
    }
    .center {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .Disbuttons button:hover div > #buttitle {
      transition: 0.6s ease;
      transform: rotate(360deg);
    }
    