html {
  overflow: auto;
}
.seperate {
  width: 96%;
  height: 100px;
  margin-top: 30px;
}
* {
  transition: 0.5s ease;
}
#line {
  background: white;
  width: 100%;
  height: 7px;
  position: absolute; top:50%;left:50%;transform:translate(-50%,-50%);
}
.seperate img {
  position: absolute;
top:50%;left:50%;transform:translate(-50%,-50%);
  background-color: #141e30;
  padding: 0px 30px;
}
.error {
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  font-size: 2.3rem;
  height: 110px;
  width: 94%;
  background-color: rgba(255,0,0,0.14);
  display: flex;
  flex-direction: warp;
  align-items: center;
  gap: 30px;
  border: 3px solid rgba(255,0,0,0.8);
  border-radius: 10px;
  visibility: hidden;
  position: absolute;
}
.error.on {
  visibility: visible;
  position: static;
}

.warnred {
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  font-size: 2.3rem;
  height: 130px;
  width: 94%;
  background-color: rgba(255,0,0,0.14);
  display: flex;
  flex-direction: warp;
  align-items: center;
  gap: 30px;
  border: 3px solid rgba(255,0,0,0.8);
  border-radius: 10px;
}
.success {
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  font-size: 2.3rem;
  height: 300px;
  width: 94%;
  background-color: rgba(0,255,0,0.14);
  display: flex;
  flex-direction: warp;
  gap: 30px;
  border: 3px solid rgba(0,255,0,0.8);
  border-radius: 10px;
  align-items: center;
  visibility: hidden;
  position: absolute;
}
.success.on {
  visibility: visible;
  position: static;
}
#symbolerror {
  background-color: rgba(255,0,0,0.8);
  color: #6b0000;
  font-size: 2rem;
  font-weight: 700;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#symbolerror2 {
  background-color: rgba(255,0,0,0.8);
  color: #6b0000;
  font-size: 2rem;
  font-weight: 700;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.warn {
  color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  font-size: 2.3rem;
  height: 225px;
  width: 94%;
  background-color: rgba(255,165,0,0.14);
  display: flex;
  flex-direction: warp;
  gap: 30px;
  border: 3px solid #d4a900;
  border-radius: 10px;
  align-items: center;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
#symbol {
  background-color: #d4a900;
  color: #454500;
  font-size: 2.5rem;
  font-weight: 700;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#symbolsuccess {
  background-color: #00d100;
  color: #006900;
  font-size: 2rem;
  font-weight: 700;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#warning {
  line-height: 47px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.application {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
}
body {
  background-color: #141e30;
}
.application > input {
 height: 110px;
 width: 90%;
 font-size: 2rem;
 border-radius: 20px;
 font-family: sans-serif;
 color: white;
 font-weight: 500;
 background-color: rgba(0,0,0,0.2);
 border-style: none;
 text-indent: 30px;
 outline: none;
 transition: all 0.4s ease;
}
textarea {
 height: 210px;
 width: 84%;
 font-size: 2rem;
 border-radius: 20px;
 font-family: sans-serif;
 color: white;
 font-weight: 500;
 background-color: rgba(0,0,0,0.2);
 border-style: none;
 padding: 0px 48px;
 outline: none;
 transition: all 0.4s ease;
padding-top: 40px;

}
select {
  height: 120px;
 width: 93%;
 font-size: 1.7rem;
 border-radius: 20px;
 font-family: sans-serif;
 color: white;
 font-weight: 500;
 background-color: rgba(0,0,0,0.2);
 border-style: none;
 text-indent: 30px;
 outline: none;
 transition: all 0.4s ease;
}
select option {
  opacity: 0.5;
}
input:focus {
  border: 3px solid #2f3d57;
}

input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: white;
  font-size: 2rem;
}
select option {
  font-weight: 500;
  opacity: 0.5;
  color: white;
  font-size: 2rem;
}
input:invalid:not(:placeholder-shown) {
  border: 3px solid #750000;
}
input:valid {
  border: 3px solid #3b803b;
}
textarea:focus {
  border: 3px solid #2f3d57;
}
#question, #example {
  margin-right: auto;
  color: white;
  font-family: sans-serif;
  margin-left: 35px;
}
.checkbox, .checkbox2 {
  font-size: 2rem;
justify-content: center;
color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  height: 160px;
  width: 94%;
  background-color: rgba(0,0,0,0.14);
  display: flex;
  flex-direction: warp;
  gap: 30px;
  border: 3px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  align-items: center;
  transition: 0.4s ease; 
}
.checkbox input, .checkbox2 input {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  opacity: 0.1;
transition: 0.4s ease;
}
sus {
  opacity: 0;
  transition: 1s;
}
option {
  font-weight: 900;
  font-size: 2rem;
  opacity: 0.5;
}
#question {
  font-weight: 900;
  font-size: 2rem;
  opacity: 0.5;
}
#example {
  opacity: 0.5;
  font-size: 2rem;
}
button {
  padding: 11px 50px;
  font-size: 1.7rem;
 border-radius: 11px;
 font-family: sans-serif;
 color: white;
 font-weight: 500;
 background-color: #141e30;
 border-style: none;
 border: 3px solid #2f3d57;
  transition: 0.4s ease;
}
button:hover {
  background-color: #1b2840;
 border: 3px solid #33425e;
}
.checkbox.in, .checkbox2.in {
  background-color: rgba(255,0,0,0.05);
  border: 3px solid rgba(255,0,0,0.4);
}
.checkbox.checked, .checkbox2.checked {
  background-color: rgba(0,255,0,0.05);
  border: 3px solid rgba(0,255,0,0.4);
}
.checkbox.checked > input, .checkbox2.checked > input  {
  accent-color: rgba(0,255,0,0.05);
  opacity: 1;
}
.checkbox2 {
  margin-top: 40px;
  
}
.agreement {
  gap: 30px;
}
#nice {
  display: none;
}
body {
  transition: all 0.5s ease;
}
.clear {
  display:flex; align-content:center; color:white; font-family:sans-serif; font-size:2rem; opacity:0.5; font-weight:700; transition: all 0.3s ease;
}
.clear:hover {
 opacity: 0.7;
}
@media only screen and (orientation: landscape) {
.application > input, select {
  height: 70px;
  font-size: 1.2rem;
  border-radius: 10px;
  text-indent: 20px;
}
textarea {
 height: 210px;
 width: 86%;
 font-size: 1.4rem;
 border-radius: 10px;
 font-family: sans-serif;
 color: white;
 font-weight: 500;
 background-color: rgba(0,0,0,0.2);
 border-style: none;
 padding: 0px 30px;
 outline: none;
 transition: all 0.4s ease;
 padding-top: 30px;
}
input::placeholder {
  font-weight: 450;
  opacity: 0.5;
  color: white;
  font-size: 1.3rem;
}
.checkbox {
  font-size: 1.6rem;
justify-content: center;
color: rgba(255,255,255,0.8);
  font-family: sans-serif;
  height: 100px;
  width: 94%;
  background-color: rgba(0,0,0,0.14);
  display: flex;
  flex-direction: warp;
  gap: 20px;
  border: 3px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  align-items: center;
}
.checkbox input {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: transparent;
}
#question {
  font-weight: 800;
  font-size: 1.3rem;
  opacity: 0.5;
}
#example {
  opacity: 0.5;
  font-size: 1.3rem;
  }
.warn, .success, .error {
  font-size: 1.7rem;
  width: 94%;
  gap: 20px;
  border-radius: 10px;
}
.success {
  height: 165px;
}
.warn {
  height: 130px;
}
.error {
  height: 80px;
}
#warning {
  line-height: 30px;
  }
#symbol {
  font-size: 1.6rem;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
#symbolerror {
font-size: 1.6rem;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
#symbolsuccess {
font-size: 1.6rem;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}
}